/* GardenWalk HOB CSS */
/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: inline;
    margin-bottom: 5px;
    padding: 15px 0;

    text-align: left;
    text-decoration: none;
    color: white;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face{
 font-family:"Brandon Printed One";
    src:url('fonts/brandon_printed_one-webfont.eot');
    src:url('fonts/brandon_printed_one-webfont.woff') format('woff'),
        url('fonts/brandon_printed_one-webfont.ttf') format('truetype'),
        url('fonts/brandon_printed_one-webfont.ttf') format('truetype'),
        url('fonts/brandon_printed_one-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{
 font-family:"Brandon Printed Two";
    src:url('fonts/brandon_printed_two-webfont.eot');
    src:url('fonts/brandon_printed_two-webfont.ttf') format('truetype'),
        url('fonts/brandon_printed_two-webfont.svg') format('svg'),
        url('fonts/brandon_printed_two-webfont.woff2') format('woff2'),
        url('fonts/brandon_printed_two-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sauber_scriptregular';
    src: url('fonts/sauberscript_2-webfont.woff2') format('woff2'),
         url('fonts/sauberscript_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* img {
    max-width:100%; /*to ensure images are responsive*/
    height:auto;
}
body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    width:100%;
    background-color:#000;
    color:#fff;
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
.wrapper {
	width:100%;
    max-width:1480px;
	margin:0 auto;
	text-align:center;
}
#top-container {
	width:100%;
    background:url('../img/bg-img1.png') no-repeat fixed;
    background-size:cover;
    margin:0 auto;
    position:relative;
    padding-top:7px;
}
.moving {
    position:absolute;
    top:100px;
    left:12%;
}
.logo {
    position:absolute;
    top:50px;
    left:43.2%;
}
header {
    width: 100%;
    margin: 0 0;
}
.goback {
    float:left;
    padding-left:7px;
}
.goback a {
    font-size:12px;
    color:#ccc;
    font-family: Arial, sans-serif;
    text-decoration:none;
}
.goback a:hover {
    color:#fff;
}
.goback img {
    vertical-align:text-bottom;
}
.socials {
    float:right; 
    padding-right:7px;
}
.socials a {
    display:inline-block;
    float:left;
    margin-right:4px;
    margin-top:3px;
    margin-bottom:3px;
}
h1.amp {
    color: #fff;
    font-family:Arial Black Arial, sans-serif;
    font-weight:900;
    letter-spacing:4px;
    text-shadow: 2px 2px #d00e1c;
    text-transform:uppercase;
    font-size:4.5em;
    margin-bottom:56px;
}
h2 {
    color: #fff;
    font-family:'Brandon Printed Two','Arial Black', sans-serif;
    font-size:50px;
    margin-top:0px;
    text-shadow: 2px 2px #df0418;
}
h2.red {
    text-shadow: 3px 3px #113975;
    margin-bottom:18px;
}
h2.title-four { padding-top:40px;}
h3 {
    color: #fff;
    font-family:'Brandon Printed Two', 'Arial Black', sans-serif;
    font-size:32px;
    text-shadow: 2px 2px #888;
    margin:0 0;
    text-transform:uppercase;
}
h3.padd {
    text-shadow: 2px 2px #df0418;
}
h3.padd2 {
    text-shadow: 2px 2px #df0418;
    padding: 20px;
    display:block;
}
.bg-blu {
    background-color:rgba(3,59,89,.7);
    margin:0 0;
    margin-bottom:7px;
}
.padd {
    padding: 15px 0px 6px;
}
h4 {
    color: #fff;
    font-family:'Brandon Printed One','Arial Black', sans-serif;
    font-size:22px;
    padding: 0 10px;
    margin:5px 0;
    text-shadow: 1px 1px #000;
}
h5 {
    color: #fff;
    font-family:'Brandon Printed One', sans-serif;
    text-transform:uppercase;
    font-size:30px;
    padding-top:30px;
    margin-top:0px;
    margin-bottom:30px;
    margin-right:10px;
    margin-left:10px;
    text-shadow: 2px 2px #999;
}
h6 {
    color: #fff;
    font-family:'Brandon Printed One','Arial Black', sans-serif;
    font-size:15px;
    padding:9px 10px 5px;
    width:100%;
    text-align:left;
    margin-bottom:5em;
    background:#013857;
    text-transform:uppercase;
    margin:0 0;
}
.section-one {
    margin:auto;
    margin-top:400px;
}
.section-one p {
	font:18px Times, Times New Roman, serif;
    font-weight:bold;
    letter-spacing:1px;
    line-height:21px;
	margin:0 auto;
    width:72%;
    padding-top:40px;
    padding-bottom:60px;
}
.sign-up {
    margin-bottom:0px;
    margin-top:-10px;
    width:100%;
    background-color: #ba130b;
    height:46px;
    padding:8px 0px 36px;
    font:18px Times, Times New Roman, serif;
    line-height:22px;
    font-weight:normal;
    letter-spacing:1.5px;
    color:#ccc;
    text-align:center;
}

/* SECTION 2 */
section.section-two {
    background:url('../img/bg-img2.jpg') no-repeat;
    background-size:cover;
    width:100%;
    min-height:100%;
    margin:0 auto;
    margin-bottom:0px;
    overflow:auto;
}
p.sec2 {
    width:65%;
    margin:0 auto;
    margin-bottom:15px;
    font:16px Times, Times New Roman, serif;
    line-height:24px;
    letter-spacing:1.5px;
    color:#c5d8e3;
}
.main-two {
    padding-top:20px;
    margin: 0 auto;
    margin-top:20px;
    text-align:center;
}
.sliding {
    width:100%;
    height:440px;
    margin:auto;
    margin-top:35px;
    position:relative;
    overflow: hidden;
}
.sliding img {
    position:absolute;
    left:100%;
    top:0px;
}
.sliding img.first {
    left: 0px;
}


/* SECTION 3 */
section.section-three{
    width:100%;
    background:url('../img/bg-img3.jpg') no-repeat fixed;
    background-size:cover;
    margin:0 auto;
}
#column-row {
    max-width:1440px;
    min-height:500px;
    margin: 0 auto;
    text-align:center;
    /*display:flex;*/
}
.module {
    float:left;
    width:25%; 
}
.module:last-child, .module2:last-child {
    margin-right:0px;
}
article {
    padding:0px 0px 20px 0px;
}
.cell {
    margin:0 auto;
    text-align:center;
    display:inline-block;
    border: solid 0px #369;
    width:330px;
     height:330px;
     overflow:hidden;
     position:relative;
     text-decoration: none;
}
.cell p.desc { /*rollover text*/
    background-color: rgba(189,19,11, .8);
    width:100%;
    font:16px Times,'Times New Roman', serif;
    font-weight:bold;
    letter-spacing:.1px;
    margin:0 auto;
    text-align:center;
    line-height:30px;
    position:absolute;
    top:0px;
    left: 0px;
    display:block;
    padding:30px;
    color: #fff;
     margin:0px; 
     width:330px;
     height:330px;
     opacity:0;
}
ul.sec3 {
    width:92%;
    list-style-type: none;
    text-decoration:none;
    font:16px Times,'Times New Roman', serif;
    font-weight:bold;
    letter-spacing:.2px;
    line-height:21px;
    text-align:left;
    margin-left:20px;
    margin-right:0px;
    padding-right:20px;
    padding-left:0px;
    height:300px;
    display:block;
    overflow:auto;
}
ul.sec3 li {
    display:block;
    overflow:auto;
}
.cell4 {
    margin:0 auto;
    text-align:center;
    display:inline-block;
}
.left1 {
    float:left;
    width:10px;
    padding-top:7px;
    padding-bottom:7px;
} 
.left2 {
    float:right;
    width:93%;
    padding-top:7px;
    padding-bottom:7px;
}
a.blu-button {
    color: #28a3dd;
    font-family:'Brandon Printed One', sans-serif;
    font-size:14px;
    border:1px solid #28a3dd;
    padding:8px 20px;
    text-transform:uppercase;
    text-decoration:none;
    width:85%;
    margin:0 auto;
    text-align:center;
    -moz-transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

a.blu-button:hover{
    color:#e02e25;
    border:1px solid #e02e25;
}
/*.btn1 {
    margin-top:48px;
}
.btn2 {
    margin-top:90px;
}
.btn3 {
    margin-top:103px;
}*/

/* SECTION 4 */
section.section-four {
    max-width:1600px;
    min-height:500px;
    width:100%;
    background-color:#001726;
    margin:0 auto;
    text-align:center;
}
#column-row2 {
    width:85%;
    margin: 0 auto;
    text-align:left;
}
.module2 {
    float:left;
    width:45%; 
    margin-left:25px;
    margin-right:25px;
}
.cell3 p {
    text-align:left;
    font:15px Times,'Times New Roman', serif;
    letter-spacing:1.5px;
    color:#b7c5d0;
    padding:20px 20px;
    margin:0em 0;
}
.cell3 a {
    color:#e6453d;
}
/* SECTION 4 */
section.section-five {
    max-width:1600px;
    min-height:500px;
    width:100%;
    margin:0 auto;
    text-align:center;
    position:relative;
}
#map {
    width: 100%;
    height: 500px;
    overflow:auto;
}
.map-title {
    position:absolute;
    bottom:20px;
    left:8%;
    font:28px 'Iowan Old Style Black', serif;
    letter-spacing:1.5px;
    color:#fff;
    font-weight:bold;
    z-index:999;
    padding:10px 10px;
}
.zoom {
    position:absolute;
    bottom:20px;
    right:8%;
    z-index:999;
}
footer {
    padding:17px 60px;
    background-color:#001726;
    max-width:1600px;
    min-height:70px;
    width:100%;
    border-top:3px solid #30acf8;
}
.footer-left {
    float:left;
    font:9px arial, sans-serif;
    color:#b7c5d0;
    padding:13px 0px;
}
.footer-right {
    float:right;
}  
.foo-text {
    float:left;
    color:#fff; 
    font:13px 'Iowan Old Style Black', serif;
    letter-spacing:1.5px;
    padding:8px 30px 8px 0px;
    border-right: 1px solid #30acf8;
    margin-right:30px;
}
/*POP-UP FOR*/
header h2 {
    margin: 0 auto;
    border-top:1px solid #fff;
    font-size:18px;
}
section.parag {
    font:14px 'Iowan Old Style Black', serif;
    letter-spacing:1.5px;
    line-height:21px;
    padding:30px 35px 10px;
    background-image:url('../img/bg-img3.jpg');
    background-size:cover;
}
.popdown-content {
    background-color:#222;
    color:#fff;
}
form.pure-form {
    text-align:center;
}
button.pure-button.pure-button-color {
    margin-top:10px;
    margin-bottom:13px;
    background:#d21123;
    color:#fff;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 1264px) and (min-width: 1081px) {
    ul.sec3 {
        height:350px;
    }
}
@media screen and (max-width: 1260px) {

    .wrapper {
       /* width: 1026px;  1140px - 10% for margins */
        margin: 0 auto;
    }
    .sliding {
        width:100%;
        height:360px;
    }
}
@media screen and (max-width: 1080px) {
    .module {
        width:40%;
        margin-left:7%;
    }
    .sliding {
        width:100%;
        height:300px;
    }
    h5 img {
        display:none;
    }
    ul.sec3 {
        height:250px;
    }
    .cell4 {
        margin-bottom:25px;
    }
}

@media screen and (max-width: 960px) {
    .sliding {
        width:100%;
        height:250px;
    }
    .module {
        margin-left:6%;
    }
    .cell {
        padding: 20px 0px 0px;
    }
    ul.sec3 {
        margin-left:0px;
        width:100%;
    }
    .module2 {
        width:95%;
    }
    #column-row2 {
        width:100%;
    }
    p.sec2 {
        width:90%;
    }
    .cell4 {
        margin-bottom:5px;
    }
}
@media screen and (max-width: 860px) {
    ul.sec3 {
        height:280px;
    }
}
@media screen and (max-width:883px) {
    .sign-up {
        padding:18px 7px 10px;
        line-height:26px;
        overflow:visible;
        height:auto;
    }
}
@media screen and (max-width: 768px) {
    .module {
        width:90%;
        margin-left:5%;
    }
    .cell p {
        padding-top:20px;
        width:70%;
    }
    ul.sec3 {
        margin:0 auto;
        width:70%;
    }
    .moving {
        display:none;
    }
    .logo {
        left:10px;
        right:10px;
        margin: 0 auto;
    }
    .section-one {
        margin-top:300px;
    }
    .sliding {
        width:100%;
        height:200px;
    }
    .cell p {
        width:90%;
    }
    ul.sec3 {
        width:80%;
        margin-left:15%;
        margin-top:30px;
        height:250px;
    }
}

@media screen and (max-width: 580px) {
    
    .sliding {
        width:100%;
        height:100px;
    }
    .foo-text {
        display:none;
    }
    .section-one {
        margin-top:210px;
        padding-right:10px;
        padding-left:10px;
    }
    .section-one p {
        width:95%;
        padding-bottom:20px;
    }
    .logo {
        width:140px;
    }
    h1.amp {
        font-size:3em;
    }
    h2.red {
        font-size:30px;
    }
    h3 {
        font-size:30px;
    }
    h4 {
        font-size:18px;
    }
}
@media screen and (max-width: 480px) {
    .module {
        margin-left:0%;
        width:100%;
    }
    .cell p {
        width:90%;
    }
    .cell img.touch {
        width:90%;
    }
    ul.sec3 {
        width:90%;
        margin-left:7%;
        margin-top:15px;
        height:250px;
    }
    .sign-up {
        padding:15px 15px 20px;
        overflow:visible;
        height:auto;
    }
    .sign-up img {
        margin-top:10px;
    }
    .module2 {
        margin-right:5px;
        margin-left:5px;
    }
    .title-four img {
        display:none;
    }
    
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}